body {
    font-family: 'Roboto', Helvetica, Verdana;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #739dc1;

}

#seccion_inicio {
    background: url('http://versailles-bg.eu/mag5/wp-content/uploads/2011/01/prod_dark_1003.jpg') repeat;
    background-attachment: fixed;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

#seccion_inicio img {
    border-radius: 10px;
}

#seccion_inicio > .col-xs-12{
  position:absolute;
}

#seccion_inicio canvas{
  height: 420px!important;
}


#seccion_inicio h1 {
    font-size: 40px;
    letter-spacing: 15px;
    text-transform: capitalize;
}

#seccion_inicio h2 {
    font-weight: bold;
}

#seccion_sobremi {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:#7394c1
}

#seccion_sobremi img {
    border-radius: 70px;
}

#seccion_sobremi h2 {
    color: blue;
}

#seccion_hobbies .glyphicon {
    font-size: 70px;
}

#seccion_inicio * {
    color: white;
}

#seccion_hobbies {
    background-color: #0CD2A4;
    color: white;
    padding-bottom: 15px;
    padding-top: 20px;
}

#seccion_hobbies h3 {
    text-decoration: underline;
    color: green;
    margin-top: 80px;
    margin-bottom: 10px;
}

#seccion_skills {
    background: url('http://versailles-bg.eu/mag5/wp-content/uploads/2011/01/prod_dark_1003.jpg') repeat;
    background-attachment: fixed;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 100px;
}

#seccion_skills h2 {
  color: white;
}

#seccion_skills h3 {
  color: black;
}

#seccion_experiencia {
    background: url('http://versailles-bg.eu/mag5/wp-content/uploads/2011/01/prod_dark_1003.jpg') repeat;
    background-attachment: fixed;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 50px;
    margin-top: 0;
}

#seccion_experiencia h2 {
  color: white;
}

#seccion_experiencia h3 {
  color: black;
}


#seccion_seminarios {
    background: url('http://versailles-bg.eu/mag5/wp-content/uploads/2011/01/prod_dark_1003.jpg') repeat;
    background-attachment: fixed;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 50px;
    margin-top: 0;
}

#seccion_seminarios h2 {
  color: white;
}

#seccion_seminarios img {
    border-radius: 50px;
}

/* 3 columnas*/

#seccion_skills .col-xs-12 > div {
    background-color: white;
    color: black;
    opacity: .8;
    padding: 10px;
    border-radius: 10px;
}

#seccion_skills {
    margin-top: 0;
}

#seccion_habilidades {
    background: url('http://versailles-bg.eu/mag5/wp-content/uploads/2011/01/prod_dark_1003.jpg') repeat;
    background-attachment: fixed;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-top: 0;
}

#seccion_habilidades h2 {
  color: white;
}

#seccion_habilidades h3 {
  color: white;
}

#seccion_estudios {
    background: url('http://versailles-bg.eu/mag5/wp-content/uploads/2011/01/prod_dark_1003.jpg') repeat;
    background-attachment: fixed;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-top: 0;
}

#seccion_estudios h2 {
  color: white;
}

#seccion_estudios .col-xs-12 > div {
    background-color: white;
    color: black;
    opacity: .8;
    padding: 10px;
    border-radius: 10px;
}

/* añadir color de fondo */

#seccion_social {
    background: #0CD2A4;
    padding: 30px;
}

/* quitar puntos de la lista <li> */

#seccion_social ul {
    list-style-type: none;
    margin: 0;
}

/* hacer horizontal la lista */

#seccion_social ul li {
    display: inline;
}

/* hacer que los iconos sean blancos */

#seccion_social ul li a {
    color: white;
}

/* quitar subrayado al pasar el mouse */

#seccion_social ul li a:hover {
    text-decoration: none;
    color: white;
}

/* cambiar fondo del icono al pasar el mouse */

#seccion_social ul li a:hover i {
    background: #2D373D;
}

/* estilizar iconos sociales */

#seccion_social .fa {
    /* borde */
    border: 2px white solid;
    /* hacer borde circular */
    border-radius: 50%;
    /* tamaño de icono */
    font-size: 40px;
    /* espacio interior */
    padding: 10px 15px;
    /* espacio exterior */
    margin-right: 20px;
}


#seccion_social .fa-facebook {
    padding: 10px 20px;
}


#seccion_social .btn {
    border-radius: 50px;
    font-size: 20px;
    box-shadow: 0px 2px 5px #787878;
    padding: 20px 40px;
}

#seccion_social .btn:hover {
    background: #4b4b4b;
    color: white;
}

#seccion_contacto {
    background: url('http://versailles-bg.eu/mag5/wp-content/uploads/2011/01/prod_dark_1003.jpg') repeat;
    background-attachment: fixed;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-top: 0px;
}

#seccion_contactos .col-xs-12.col-sm-6 > p {
  color: white;
}

#seccion_contacto p {
  font-size: 25px;
}

#seccion_contacto .glyphicon {
  font-size: 35px;
}

#seccion_contacto iframe {
  border-radius: 50px;
}

#seccion_copyright p {
    background color: #4d4dff;
    text-align: center;
    padding-top: 10px color: white;
}

@media (max-whidth: 700px) {
    #seccion_copyright {
        background-color: green;
        color: red;
    }
}
